version: "3.8"

services:
  frontend:
    build: .
    container_name: todo-app-frontend
    restart: unless-stopped
    ports:
      - "${PORT}:${PORT}"
    environment:
      - REACT_APP_API_URL=${REACT_APP_API_URL}
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    volumes:
      - .:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    command: sh -c "npm install && npm start"
